
.task{
    display: flex;
    border: 1.5px solid #C3CFD9;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
}


.btn-primary{
    border: 1.5px solid #C7C3FB;
    transition: all 0.2s ease-in-out;
    color: #6558F5;
    border-radius: 3px;
}

.btn-primary:hover{
    background-color: purple;
    color: white;
}