.textarea
{
    margin-bottom: 10px;
    padding: 30px 10px;
    display:block;
    width:100%;
    border: 1.5px solid #C3CFD9;
    font-size: 18px;
    border-radius: 5px;
}

#add{
    float: right;
    background-color: #6558F5;
    border: 1.5px solid;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 8px 18px;
    margin-left: 10px;
}

h1{
    text-align: center;
}