.main{
  margin: 0 auto;
  width: 80%;
}

.btn{
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  background-color: transparent;
}


#main{
  margin-top: 60px;
  margin-bottom: 70px;
}
/* 
body{
  margin-left: 20px;
  margin-right: 20px;
}


.container{
  width:100%;
  margin: 50px 50px 50px 110px;
  width: 80%;
}
h1{
  font-size: 28px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 18px;
}
p{
  font-size: 12px;
  color: #C3CFD9;
  font-style: inherit;
}
*/
